@import "var";

.block {
  padding: 50px 0;
}

.calculate_form {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.calculate_form_input {
  width: 50%;
}

.calculate_form_title {
  margin-bottom: 30px;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  color: $top_line_color;
}

.calculate_size {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.calculate_size_item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 50%;
}

.calculate_size_item label span {
  //margin-bottom: 5px;
  text-transform: uppercase;
}

.field_title {
  display: block;
  margin-bottom: 10px;
}

.dlina_pools {
  outline: none;
  border: 0.15rem solid #000000;
  height: 40px;
  text-indent: 10px;
  background: #ffcb0f;
}

.dlina_pools:focus {
  border: 0.15rem solid #ffcb0f;
}

.calculate_title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.form__checkbox__label::before,
.checkbox__label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #ffcb0f;
}

.form__checkbox__label::after,
.checkbox__label::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border: 0.15rem solid #000000;
  width: 1.5rem;
  height: 1.5rem;
  transition: 100ms ease-in-out;
}

.checkbox__label::before,
.checkbox__label::after {
  left: -9px;
}

.form__checkbox__label::after,
.form__checkbox__label::before {
  left: -16px;
  top: 8px;
  width: 0.95rem;
  height: 0.95rem;
}

.form__checkbox__input:checked ~.form__checkbox__label::after,
.checkbox__input:checked ~.checkbox__label::after {
  border-color: #008000;
  border-top-style: none;
  border-right-style: none;
  height: 1rem;
  transform: rotate(-45deg);
}

.form__checkbox__input:checked ~.form__checkbox__label::after {
  height: 0.81rem;
}

.checkbox-transform {
  position: relative;
  font-size: 1.3em;
  color: $color_link_comenk;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.checkbox-transform_form {
  position: relative;
  font-size: 1.1rem;
  line-height: 1;
  color: $color_link_comenk;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.checkbox-transform_form input {
  display: none;
}

.form__checkbox__label::after:hover,
.form__checkbox__label ::after:active,
.checkbox__label::after:hover,
.checkbox__label::after:active {
  border-color: #008000;
}

.checkbox__label {
  margin-left: 1.5rem;
  line-height: 0.75;
}

.contact_form_item_order {
  margin-left: 10px;
}

.form__checkbox__label {
  margin-left: 6px;
  font-size: 0.8rem;
  line-height: 0.75;
}

.checkbox__label a {
  color: $color_link_comenk;
}

.rezult_block_title {
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.rezult_block_descr {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.rezult_list {
  padding: 0;
}

.rezult_list li {
  position: relative;
  margin-bottom: 10px;
  font-size: 1rem;
}

.rezult_list li span {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  font-weight: 900;
  text-align: center;
}

.rezult_block_green_title {
  margin: 20px 0;
  font-size: 2rem;
  text-align: center;
}

.rezult_block_green_cost {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #ff0000;
}

.rezult_block_green_text {
  margin-bottom: 30px;
}

.checkbox_box,
.result_calcul_wraper {
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

.checkbox_box {
  margin-top: 20px;
}

.calcul_order {
  margin-bottom: 20px;
  outline: none;
  border: 0.15rem solid #000000;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  background: #ffcb0f;
}

.calcul_order:focus {
  border: 0.15rem solid #ffcb0f;
}

.calcul_button {
  border: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  background-color: #1a1c27;
}

.footer_bottom ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  padding: 0 10px;
  color: #ffffff;
}

.footer_bottom ul li:last-child {
  border-right: none;
}

.footer_bottom ul li a {
  text-decoration: none;
  color: $top_line_color;
}

.footer_top_fon {
  position: relative;
  padding: 100px 0 60px;
  min-height: 540px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.footer_top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000059;
}

.footer_top_one {
  width: 40%;
}

.footer_top_two {
  width: 40%;
}

.footer_top_three {
  width: 40%;
}

.footer_top_foure {
  width: 40%;
}

.footer_top h3 {
  margin-bottom: 40px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

.bottom_logo {
  margin-bottom: 15px;
}

.bottom_logo img {
  display: inline-block;
  width: 80%;
  height: auto;
}

.footer_bottom_text {
  @include font-size(15px);

  margin-bottom: 30px;
  font-family: "OpenSansLight", sans-serif;
}

.footer_bottom_social li {
  display: inline-block;
  padding-left: 5px;
}

.footer_bottom_social li a {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  line-height: 25px;
  text-align: center;
  color: #000000;
  background-color: $top_line_color;
}

.footer_pages_links {
  padding: 0 0 0 20px;
}

.footer_pages_links li a {
  @include font-size(15px);

  position: relative;
  font-family: "OpenSansLight", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer_pages_links li a::after {
  @include font-size(15px);

  content: "\f0da";
  position: absolute;
  left: -14px;
  top: 0;
  font-family: "FontAwesome";
  font-weight: 900;
  color: #ffffff;
}

.footer_latest_post li {
  margin-bottom: 20px;
}

.footer_latest_post li a {
  @include font-size(15px);

  font-family: "OpenSansLight", sans-serif;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer_latest_post li a:hover {
  color: darken(#ffffff, 0.4);
}

.footer_post_wrap {
  float: left;
  margin-right: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.footer_post_date {
  @include font-size(20px);
}

.footer_post_month {
  @include font-size(12px);

  display: block;
  font-family: "OpenSansLight", sans-serif;
  text-transform: uppercase;
}

.footer_contacts {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.footer_contacts li {
  @include font-size(15px);

  margin-bottom: 10px;
  font-family: "OpenSansLight", sans-serif;
}

.footer_contacts li span {
  position: relative;
}

.footer_contacts li a {
  position: relative;
  display: block;
  line-height: 1.9;
  text-decoration: none;
  color: #ffffff;
}

.footer_contacts li span::before,
.footer_contacts li a[href^="mailto:"]::before,
.footer_contacts li a[href^="tell:"]:first-child::before {
  position: absolute;
  font-family: "FontAwesome";
  color: #ffffff;
}

.footer_contacts li span::before {
  content: "\f041";
  left: -18px;
  top: 2px;
  font-size: 0.9375rem;
}

.footer_contacts li a[href^="mailto:"]::before {
  content: "\f0e0";
  left: -20px;
  top: 4px;
  font-size: 0.7rem;
}

.footer_contacts li a[href^="tell:"]:first-child::before {
  content: "\f10b";
  left: -18px;
  top: 0;
  font-size: 1.2rem;
}

.footer_top_one,
.footer_top_two,
.footer_top_three,
.footer_top_foure {
  position: relative;
}

// оформление страницы категории
.category_wrap {
  margin: 0;
  padding: 0;
}

.category_content {
  float: left;
  padding-right: 20px;
  width: 75%;
}

.category_sidebar {
  float: left;
  width: 25%;
}

.post_box {
  margin: 0;
  padding: 0;
}

.post_box .post_item {
  margin-bottom: 30px;
}

.post_box .post_item .post-thumb {
  float: left;
  padding: 0;
  width: 40%;
}

.post_box .post_item .single-thumb a img,
.post_box .post_item .post-thumb a img {
  display: block;
  width: 100%;
  height: auto;
}

.post_box .post_item .post_text {
  float: left;
  padding-left: 10px;
  width: 60%;
}

.post_box .post_item .single_text {
  margin-top: 20px;
}

.post_box .post_item .single_text .date_publish {
  text-align: right;
}

.post_box .post_item .single_text h2,
.post_box .post_item .post_text h2 {
  @include font-size(25px);

  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.post_box .post_item .single_text h2 {
  text-transform: uppercase;
}

.post_box .post_item .single_text p,
.post_box .post_item .post_text p {
  margin-bottom: 20px;
}

.post_box .post_item .single_text img {
  display: block;
  margin: 20px auto;
  height: auto;
  max-width: 100%;
}

.post_box .post_item .single_text blockquote {
  margin-left: 10px;
  border-left: 3px solid $top_line_color;
  padding-left: 20px;
}

.post_box .post_item .single_text a,
.post_box .post_item .post_text a {
  @include trans;

  color: $color_link_comenk;
}

.post_box .post_item .single_text a:hover,
.post_box .post_item .post_text a:hover {
  text-decoration: none;
  color: darken($color_link_comenk, 10%);
}

.post_box .post_item .single_text .video {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 56.25%;

  /* пропорции видео 16:9 */
  //padding-top:;
  height: 0;
  text-align: center;
}

.post_box .post_item .single_text .video iframe {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.post_box .post_item .post_text .read_more {
  @include trans;

  display: block;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  color: $top_line_color;
}

.post_box .post_item .post_text .read_more:hover {
  color: darken($top_line_color, 10%);
}

.pagination {
  margin: 50px auto 0;
  text-align: center;
}

.pagination ul {
  list-style: none outside;
}

.pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination .inactive,
.pagination .inactive:hover {
  color: #a9adb2;
  background-color: #e6e8eb;
}

.pagination .page-numbers {
  display: block;
  border: 1px solid #ffcb0f;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #6a6a6a;
  background-color: #ffffff;
  transition: all 200ms ease-in-out;
}

.pagination .current,
.pagination .current:hover,
.pagination .page-numbers:hover {
  color: #ffffff;
  background-color: #ffcb0f;
}

// оформление сайдбара

.category_sidebar .widget {
  margin-bottom: 30px;
  border: 1px solid #cfd3d5;
  padding: 10px 2%;
  width: 100%;
  background: #ffffff;
}

.category_sidebar .widget-title {
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: $top_line_color;
}

.category_sidebar .widget ul {
  padding-left: 30px;
}

.category_sidebar .widget ul li {
  position: relative;
  margin-bottom: 5px;
}

.category_sidebar .widget ul li::before {
  content: "\f103";
  position: absolute;
  left: -15px;
  font-family: "FontAwesome";
  color: $color_link_comenk;
}

.category_sidebar .widget ul li a {
  text-decoration: none;
  color: $color_link_comenk;
}

.category_sidebar .widget .searchform {
  display: flex;
  margin: 0;
  padding: 0;
}

.category_sidebar .widget .searchform .submit_input {
  border-right: none;
  width: 60%;
  height: 40px;
  line-height: 40px;
  text-indent: 5px;
}

.category_sidebar .widget .searchform .submit {
  width: 40%;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: $top_line_color;
  cursor: pointer;
}

.category_sidebar .widget .searchform .submit:focus,
.category_sidebar .widget .searchform .submit:hover {
  background-color: darken($top_line_color, 10%);
}

.pagesearch_title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
}

.error_fs {
  display: flex;
}

.error_fs .text-search {
  border-right: none;
  width: 60%;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
}

.error_fs .submit-search {
  border: 1px solid #000000;
  width: 40%;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background-color: $top_line_color;
  cursor: pointer;
}

.error_fs .submit-search:hover {
  background-color: darken($top_line_color, 10%);
}

.search_rezzult {
  margin-top: 30px;
  font-size: 1.3rem;
}
