@import "var";

.nocomments {
  display: none;
}

.comment-number {
  margin: 30px 0 20px 10px;
}

.comment-number h4 {
  display: inline;
  font-weight: normal;
  font-size: 2.2rem;
  opacity: 0.7;
}

.comment-number span a,
.comment-number span a:visited {
  @include trans;

  margin: 0 10px 0 20px;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: $color_link_comenk;
  background: $top_line_color;
}

.comment-number span a:hover {
  background: darken($top_line_color, 10%);
}

.c-head {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;

  // margin: 0 10px 10px 10px;
  background: #cfd3d5;
}

.c-head span {
  margin-left: 0.3rem;
  font-weight: normal;
  font-size: 0.9rem;
  color: $color_link_comenk;
}

.c-head a,
.c-head a:visited {
  @include trans;

  border-bottom: 1px dotted $color_border;
  text-decoration: none;
  color: $color_link_comenk;
}

.c-head a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #000000;
}

.comment-box {
  margin: 5px 0;
  border: 1px solid $color_border;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: #ffffff;
}

.commentlist {
  list-style: none;
  text-align: right;
}

.commentlist ul.children,
#comments ul.children {
  display: inline-block;
  list-style: none;
  width: 90%;
}

.comment-author-construction .c-head {
  background: #ffcb0f;
}

.comment-content-box {
  display: flex;
  justify-content: space-between;
}

.c-grav {
  margin-right: 20px;
  width: 58px;
  height: 58px;
}

.c-grav img {
  border: 4px solid $top_line_color;
  border-radius: 4px;
}

.c-body {
  padding-bottom: 10px;
  text-align: right;
}

.c-body p {
  margin-bottom: 10px;
  font-size: 1.3rem;
  text-align: left;
}

.reply {
  display: inline-block;
  padding: 10px 0;
}

.reply a,
.reply a:visited {
  @include trans;

  border-bottom: 1px dotted  $color_border;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: lowercase;
  color: $color_link_comenk;
}

.reply a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #13293e;
}

.navigation {
  display: block;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.alignleft { display: inline-block; }
.alignright { display: inline-block; }

#respond {
  margin: 5px 0;
  border: 1px solid $color_border;
  background: #ffffff;
}

#postcomment {
  margin: 10px;
  padding: 10px 20px 10px 0;
  font-size: 1.3rem;
  text-align: right;
  color: $color_link_comenk;
  background: $color_border;
}

#respond a {
  color: #000000;
}

#respond .cancel-comment-reply {
  margin-left: 10px;
}

form#commentform,
p.logged-in {
  margin: 30px;
  font-size: 1.2rem;
}

p.logged-in a,
.bloged-in a {
  text-decoration: underline;
  color: $color_link_comenk;
}

.bloged-in {
  font-size: 1.2rem;
}

#commentform .header_button {
  border: none;
}

.commenting_input {
  @include trans;

  display: block;
  outline: none;
  border: 1px solid $color_border;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  color: $color_link_comenk;
  background-color: #ffffff !important;
}

.commenting_textarea {
  @include trans;

  display: block;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid $color_border;
  padding-top: 10px;
  width: 100%;
  height: 140px;
  text-indent: 10px;
  color: $color_link_comenk;
  resize: vertical;
}

label.comment-field {
  display: block;
  margin: 10px 0 5px;
  color: $color_link_comenk;
}

#commentform .mainbuttons {
  border: none;
}

#commentform .commenting_input:-webkit-autofill {    // важно
  box-shadow: inset 0 0 0 70px #ffffff !important; /* Цвет фона */
  -webkit-text-fill-color: #aaaaaa !important; /* цвет текста */
  color: $color_link_comenk !important; /* цвет текста */
  background-color: #ffffff;
}

#commentform .commenting_input:focus-within {
  color: $color_link_comenk;
  background-color: #ffffff !important;
}

.form_input:hover {
  color: $color_link_comenk;
  background-color: #ffffff !important;
}

.form_input:focus {
  color: $color_link_comenk;
  background-color: #ffffff !important;
}

.form_input:focus-within {
  color: $color_link_comenk;
  background-color: #ffffff !important;
}

.form_input:visited {
  color: $color_link_comenk;
  background-color: red !important;
}
