@import "var";

.block {
  padding: 50px 0;
}

.block-page {
  margin-top: 85px;
}

.header_buner {
  position: relative;
  min-height: 740px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header_buner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.35);
}

.header_buner_inn {
  display: flex;
  align-items: center;
  min-height: 740px;
}

.header_buner_container {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

.header_buner_container h2 {
  @include fontsize-lineheight(72, 40);

  padding-bottom: 35px;
  font-family: "OpenSansLight", sans-serif;
  text-transform: capitalize;
}

.header_buner_container h1 {
  @include fontsize-lineheight(72, 62);

  padding-bottom: 35px;
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
}

.header_buner_container h1 span {
  display: block;
  color: $top_line_color;
}

.header_buner_container h3 {
  @include font-size(23px);

  padding-bottom: 53px;
}

.header_buner_buttons {
  margin: 0 auto;
}

.header_buner_buttons ul li {
  display: inline-block;
  margin-right: 20px;
}

.block_well {
  margin: 0;
  padding: 0;
}

.row_wellcome {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 30px;
  width: 100%;
}

.wellcome_left {
  padding-right: 30px;
  width: 60%;
}

.wellcome_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  color: #484848;
}

.wellcome_right_img {
  position: relative;
  width: 520px;
  height: 307px;
  background: url("../img/wellcome-under.png") center center no-repeat;
  background-size: cover;
}

.wellcome_right_imgman {
  position: absolute;
  left: 50%;
  top: 54%;
  margin-top: -(472px / 2) - 27px;
  margin-left: -(258px / 2);
  width: 258px;
  height: 472px;
}

.wellcome_title {
  @include font-size(40px);

  font-weight: 400;
  text-transform: uppercase;
  color: $top_line_color;
}

.wellcome_descr {
  @include font-size(30px);

  padding-bottom: 30px;
}

.wellcome_text {
  padding-bottom: 30px;
}

.wellcome_text p {
  @include font-size(15px);

  padding-bottom: 10px;
}

.wellcome_text p:last-child {
  padding-bottom: 0;
}

.wellcome_link {
  @include transition(all, 0.3s, ease);

  display: inline-block;
  border-radius: 10px;
  padding: 15px 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $top_line_color;
}

.wellcome_link:hover {
  background-color: darken($top_line_color, 10%);
}

.block_choose {
  padding: 70px 0 60px;
  background-color: #f2f7fa;
}

.block_title {
  @include font-size(30px);

  padding-bottom: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
}

.block_descr {
  padding-bottom: 35px;
  text-align: center;
}

.choose_item {
  width: 23%;
}

.choose_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 45px;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 0 10px $top_line_color, 0 0 0 20px rgba($top_line_color, 0.4), 0 0 0 30px rgba($top_line_color, 0.4);
  font-size: 2rem;
  text-align: center;
  color: #484848;
}

.choose_item_title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.choose_item_text {
  @include font-size(15px);
}

.services_img {
  margin-bottom: 30px;
}

.services_items {
  width: 32%;
}

.services_title {
  @include font-size(20px);

  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

.services_text {
  @include font-size(15px);

  margin-bottom: 30px;
}

.reviews_fon {
  position: relative;
  padding: 66px 0 44px;
  min-height: 740px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.reviews_block {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.reviews_block_items {
  width: 32%;
}

.reviews_block_content {
  position: relative;
  border-radius: 10px;
  padding: 30px 12px 50px 50px;
  background-color: #e5e5e5;
}

.reviews_block_content_main {
  color: #ffffff;
  background-color: $top_line_color;
}

.reviews_block_content::before {
  @include triangle(10px, down, #e5e5e5);

  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -5px;
}

.reviews_block_content_main::before {
  @include triangle(10px, down, $top_line_color);
}

.reviews_block_content::after {
  @include font-size(36px);

  content: "\f10e";
  position: absolute;
  left: 14px;
  top: 5px;
  font-family: "FontAwesome";
  font-weight: 900;
  color: #989898;
  transform: rotateY(180deg);
}

.reviews_block_content_main::after {
  color: #ffffff;
}

.reviews_block_info {
  padding-top: 15px;
}

.reviews_block_info img {
  display: block;
  margin: 0 auto 20px;
  width: 81px;
  height: 81px;
}

.reviews_block_name {
  @include font-size(15px);

  font-family: "OpenSansBold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.form_block {
  padding: 35px 0;
  background-color: $top_line_color;
}

.contact_form_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form_block_items {
  display: flex;
  align-items: center;
  width: 50%;
}

.form_block_items h3 {
  @include font-size(30px);

  font-family: "OpenSansBold", sans-serif;
  color: #2f3240;
}

.form_block_items h3 span {
  display: block;
  font-family: "OpenSansLight", sans-serif;
}

.contact_form_item {
  margin-bottom: 2%;
  width: 48%;
}

.contact_form_item:nth-child(3) {
  width: 53%;
}

.contact_form_item:nth-child(4) {
  align-self: flex-end;
  margin-bottom: 18px;

  // padding-left: 20px;
  width: 43%;
}

.get-buttons,
.contact_form_input,
.contact_form_textarea {
  @include font-size(15px);

  border: 1px solid #fefefe;
  border-radius: 10px;
  width: 100%;
  color: #adadad;
  background-color: #fefefe;
}

.contact_form_input,
.contact_form_textarea {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
}

.get-buttons {
  @include transition(all, 0.3s, ease);

  margin-top: 14px;
  border-color: #73757e;
  padding: 10px 0;
  color: #ffffff;
  background-color: #73757e;
  cursor: pointer;
}

.get-buttons:hover {
  background-color: darken(#73757e, 10%);
}

.contact_form_textarea {
  padding: 5px;
  min-height: 120px;
  line-height: 1.4;
  resize: none;
}

.all_adwice {
  margin-top: 60px;
  text-align: center;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  background-color: #1a1c27;
}

.footer_bottom ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  padding: 0 10px;
  color: #ffffff;
}

.footer_bottom ul li:last-child {
  border-right: none;
}

.footer_bottom ul li a {
  @include transition(all, 0.3s, ease);

  text-decoration: none;
  color: $top_line_color;
}

.footer_bottom ul li a:hover {
  text-decoration: underline;
}

.footer_top_fon {
  position: relative;
  padding: 100px 0 60px;
  min-height: 540px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.footer_top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000059;
}

.footer_top_one {
  width: 40%;
}

.footer_top_two {
  width: 40%;
}

.footer_top_three {
  width: 40%;
}

.footer_top_foure {
  width: 40%;
}

.footer_top h3 {
  margin-bottom: 40px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

.bottom_logo {
  margin-bottom: 15px;
}

.bottom_logo img {
  display: inline-block;
  width: 80%;
  height: auto;
}

.footer_bottom_text {
  @include font-size(15px);

  margin-bottom: 30px;
  font-family: "OpenSansLight", sans-serif;
}

.footer_bottom_social li {
  display: inline-block;
  padding-left: 5px;
}

.footer_bottom_social li a {
  @include transition(all, 0.3s, ease);
  @include font-size(12px);

  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  background-color: $top_line_color;
}

.footer_bottom_social li a:hover {
  color: $top_line_color;
  background-color: #000000;
}

.footer_pages_links {
  padding: 0 0 0 20px;
}

.footer_pages_links li a {
  @include font-size(15px);
  @include transition(all, 0.3s, ease);

  position: relative;
  font-family: "OpenSansLight", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer_pages_links li a::after {
  @include font-size(15px);

  content: "\f0da";
  position: absolute;
  left: -14px;
  top: 0;
  font-family: "FontAwesome";
  font-weight: 900;
  color: #ffffff;
}

.footer_latest_post li {
  margin-bottom: 20px;
}

.footer_latest_post li a {
  @include font-size(15px);
  @include transition(all, 0.3s, ease);

  font-family: "OpenSansLight", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer_contacts li a:hover,
.footer_latest_post li a:hover,
.footer_pages_links li a:hover {
  color: darken(#ffffff, 20%);
}

.footer_post_wrap {
  float: left;
  margin-right: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.footer_post_date {
  @include font-size(20px);
}

.footer_post_month {
  @include font-size(12px);

  display: block;
  font-family: "OpenSansLight", sans-serif;
  text-transform: uppercase;
}

.footer_contacts {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.footer_contacts li {
  @include font-size(15px);

  margin-bottom: 10px;
  font-family: "OpenSansLight", sans-serif;
}

.footer_contacts li span {
  position: relative;
}

.footer_contacts li a {
  @include transition(all, 0.3s, ease);

  position: relative;
  display: block;
  line-height: 1.9;
  text-decoration: none;
  color: #ffffff;
}

.footer_contacts li span::before,
.footer_contacts li a[href^="mailto:"]::before,
.footer_contacts li a[href^="tell:"]:first-child::before {
  position: absolute;
  font-family: "FontAwesome";
  color: #ffffff;
}

.footer_contacts li span::before {
  @include font-size(15px);

  content: "\f041";
  left: -18px;
  top: 2px;
}

.footer_contacts li a[href^="mailto:"]::before {
  @include font-size(11px);

  content: "\f0e0";
  left: -20px;
  top: 4px;
}

.footer_contacts li a[href^="tell:"]:first-child::before {
  content: "\f10b";
  left: -18px;
  top: 0;
  font-size: 1.2rem;
}

.footer_top_one,
.footer_top_two,
.footer_top_three,
.footer_top_foure {
  //	border:1px solid red;
  position: relative;
}

.checkbox_box {
  position: relative;
  margin-left: 2px;
  padding: 0;
  width: 100%;
  color: #ffffff;
}

.checkbox_box input[type="checkbox"] {
  display: none;
}

.checkbox_box .css-label {
  position: relative;
  margin-right: 20px;
  margin-left: 30px;
  font-size: 12px;
  cursor: pointer;
}

.checkbox_box .css-label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  width: 18px;
  height: 16px;
  background-image: url("../img/checkbox_no_white.png");
  background-repeat: no-repeat;
  transition: 0.5s;
}

.get-info_right .forms-call .checkbox_box .css-label::before {
  top: -1px;
}

.checkbox_box .custon {
  position: relative;
}

.checkbox_box input[type="checkbox"]:checked +.css-label::before {
  background-image: url("../img/checkbox_yes_white.png");
}

.css-label a {
  color: #dedede;
  transition: 0.2s;
}

.css-label a:hover {
  color: #b2b0b0;
}
